## Exercício 1: Vestibular

Considere que a os dados gerados na célula abaixo contêm o número de acertos de 100 alunos em um vestibular para um curso de exatas, divididas pelos respectivos assuntos. Considere que cada assunto possui um número de questões conforme a tabela abaixo:

| assunto | número de questões |
|:---:|:---:|
| Matemática | 24 |
| Português | 18 |
| Geografia | 8 |
| Inglês | 8 |
| História | 8 |
| Física | 12 |
| Química | 12 |

Usando os comandos de operações com DataFrames que você aprendeu na Aula 03, calcule:

1. (operações com escalar) Calcule o percentual de acerto dos alunos por assunto.  
2. (operações entre *DataFrames) Calcule o total de acertos de cada aluno.  
3. Calcule o porcentual geral de cada aluno.  
4. Suponha que a nota de corte para a segunda fase seja 45. Quantos alunos tiveram nota maior que 45?

In [327]:
import pandas as pd
import numpy as np

In [328]:
np.random.seed(42)
df_mat = pd.DataFrame(np.random.randint(24, size=(100, 1)), columns=['Qt_acertos_mat'])

df_por = pd.DataFrame(np.random.randint(18, size=(100, 1)), columns=['Qt_acertos_por'])

df_geo = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_geo'])

df_ing = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_ing'])

df_his = pd.DataFrame(np.random.randint(8, size=(100, 1)), columns=['Qt_acertos_his'])

df_fis = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_fis'])

df_qui = pd.DataFrame(np.random.randint(12, size=(100, 1)), columns=['Qt_acertos_qui'])

In [329]:
todas_notas = pd.concat([df_mat, df_por, df_geo, df_ing, df_his, df_fis, df_qui], axis=1)
todas_notas['total_acertos'] = todas_notas.sum(axis = 1)
todas_notas

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,total_acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48
2,14,16,0,5,7,4,4,50
3,10,7,3,4,0,0,8,32
4,7,2,2,7,0,9,3,30
...,...,...,...,...,...,...,...,...
95,6,4,7,1,4,9,3,34
96,8,1,4,6,1,4,3,27
97,23,5,0,2,4,1,5,40
98,0,10,3,1,5,10,11,40
99,11,15,0,1,6,7,2,42

In [330]:
# 1) Seu código aqui

pc_mat = df_mat / 24
pc_por = df_por / 18
pc_geo = df_geo /  8
pc_ing = df_ing /  8
pc_his = df_his /  8
pc_fis = df_fis /  8
pc_qui = df_qui /  8

In [331]:
print ('O total de acerto de cada aluno foi de :')
todas_notas['total_acertos'] / 90 * 100

O total de acerto de cada aluno foi de :

0     38.888889
1     53.333333
2     55.555556
3     35.555556
4     33.333333
        ...
95    37.777778
96    30.000000
97    44.444444
98    44.444444
99    46.666667
Name: total_acertos, Length: 100, dtype: float64

In [332]:
# 4) Seu código aqui
acima_45 = todas_notas[todas_notas['total_acertos'] > 45]
acima_45.value_counts().sum()

31

## 2) Vestibular II

Ainda sobre o mesmo banco de dados:

1. Neste vestibular, quem 'zera' em matemática, física ou química está desqualificado. Monte um novo *DataFrame* com os alunos desqualificados por este critério.
2. Quantos são esses alunos?
3. Qual a média desses alunos em história e geografia?
4. Monte um *DataFrame* com os alunos que passaram para a segunda fase. Repare que estes alunos não podem ter sido desqualificados.

In [333]:
todas_notas.head(2)

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,total_acertos
0,6,7,7,3,1,8,3,35
1,19,10,0,0,0,11,8,48

In [334]:
# seu código aqui
eliminados0 = todas_notas[(df_mat['Qt_acertos_mat'] == 0) | 
                      (df_fis['Qt_acertos_fis'] == 0) | 
                      (df_qui['Qt_acertos_qui'] == 0)]

print (f'No total são {eliminados0.shape[0]} alunos eliminados por zerar, são esses: ')
eliminados0

No total são 23 alunos eliminados por zerar, são esses:

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,total_acertos
3,10,7,3,4,0,0,8,32
6,6,0,7,7,5,0,4,29
10,10,8,3,2,1,7,0,31
12,20,8,3,7,1,0,3,42
14,7,11,1,7,1,4,0,31
20,23,11,6,5,6,2,0,53
25,0,4,7,4,0,4,8,27
26,11,14,6,2,7,0,0,40
27,21,13,1,5,7,3,0,50
33,14,8,0,5,6,6,0,39
35,11,14,6,3,3,0,11,48
49,8,1,1,0,1,0,8,19
56,7,6,7,5,6,0,8,39
65,1,8,2,4,3,0,6,24
66,5,4,3,6,3,0,10,31
72,11,16,3,4,7,0,9,50
73,1,16,2,4,3,0,11,37
74,9,11,0,7,5,7,0,39
84,15,1,0,5,1,0,4,26
89,23,11,7,7,6,9,0,63
92,14,10,1,6,1,8,0,40
94,0,5,2,6,1,3,8,25
98,0,10,3,1,5,10,11,40

In [335]:
media_his = eliminados0['Qt_acertos_his'].mean()
media_geo = eliminados0['Qt_acertos_geo'].mean()

print(f'A Média dos alunos eliminados foi de {media_his:.2f} na matéria de história e {media_geo:.2f} em geografia')

A Média dos alunos eliminados foi de 3.43 na matéria de história e 3.22 em geografia

In [336]:
pre_aprovados = todas_notas[~todas_notas.isin(eliminados0)]
pre_aprovados2_fase= pre_aprovados.dropna()
pre_aprovados2_fase.shape

(77, 8)

In [337]:
aprovados = pre_aprovados2_fase[pre_aprovados2_fase['total_acertos'] > 45]
aprovados

,Qt_acertos_mat,Qt_acertos_por,Qt_acertos_geo,Qt_acertos_ing,Qt_acertos_his,Qt_acertos_fis,Qt_acertos_qui,total_acertos
1,19.0,10.0,0.0,0.0,0.0,11.0,8.0,48.0
2,14.0,16.0,0.0,5.0,7.0,4.0,4.0,50.0
5,20.0,2.0,5.0,3.0,2.0,9.0,9.0,50.0
7,18.0,4.0,4.0,7.0,7.0,1.0,8.0,49.0
8,22.0,9.0,2.0,7.0,6.0,5.0,7.0,58.0
17,21.0,15.0,2.0,2.0,4.0,2.0,6.0,52.0
18,20.0,4.0,3.0,5.0,3.0,11.0,4.0,50.0
24,20.0,2.0,7.0,5.0,3.0,11.0,2.0,50.0
31,15.0,13.0,3.0,1.0,3.0,9.0,10.0,54.0
36,22.0,9.0,6.0,6.0,1.0,4.0,8.0,56.0
37,19.0,12.0,5.0,7.0,1.0,6.0,2.0,52.0
39,4.0,16.0,2.0,4.0,6.0,9.0,8.0,49.0
40,18.0,3.0,6.0,3.0,6.0,5.0,6.0,47.0
42,20.0,6.0,7.0,7.0,2.0,3.0,3.0,48.0
45,17.0,10.0,0.0,2.0,6.0,9.0,4.0,48.0
48,17.0,6.0,0.0,7.0,5.0,9.0,11.0,55.0
60,16.0,8.0,0.0,4.0,4.0,7.0,9.0,48.0
62,17.0,6.0,2.0,4.0,7.0,1.0,9.0,46.0
67,21.0,0.0,7.0,2.0,4.0,2.0,10.0,46.0
70,21.0,14.0,0.0,3.0,5.0,11.0,8.0,62.0
71,17.0,8.0,7.0,6.0,4.0,2.0,9.0,53.0
77,15.0,2.0,5.0,7.0,6.0,11.0,7.0,53.0
78,14.0,16.0,7.0,2.0,7.0,11.0,9.0,66.0
81,22.0,16.0,2.0,0.0,4.0,1.0,10.0,55.0
88,20.0,1.0,1.0,5.0,7.0,9.0,7.0,50.0
93,12.0,16.0,5.0,5.0,6.0,6.0,6.0,56.0

In [338]:
aprovados = total_gt_45.value_counts().sum()
aprovados
eliminados = df_eliminados.value_counts().sum()
eliminados
aprovados - eliminados

8

## 3) Vacinações no Acre
Vamos trabalhar agora com a base de vacinações no Acre. Para facilitar a sua vida, copiamos o link do arquivo na célula abaixo.

1. Quantas vacinas estão registradas nessa base?  
2. Quantos pacientes foram vacinados? (considere um paciente para cada valor único de ```paciente_id```)  
3. Quantos pacientes únicos tomaram a primeira dose? OBS: Há um caractere especial neste campo. Receba os valores do campo com o método ```.unique()```.   
4. Quantos pacientes com menos de 18 anos foram vacinados?  
5. Quantos estabelecimentos aplicaram vacina no Acre?


**OBS:** O portal do DATASUS pode apresentar instabilidades, retornando um erro na segunda célula abaixo. Por este motivo está disponível uma base estática, que se for baixada para o seu *working directory* pode ser lida com este comando: ```df = pd.read_csv('registros de vacinacao covid ACRE.csv', sep=';')```.

**OBS2:** Para saber qual é o seu working directory, rode no jupyter: ```!pwd```.

In [339]:
acre_vac = pd.read_csv('registros_ACRE.csv', sep = ';')
acre_vac.head(2)

,document_id,paciente_id,paciente_idade,paciente_datanascimento,paciente_enumsexobiologico,paciente_racacor_codigo,paciente_racacor_valor,paciente_endereco_coibgemunicipio,paciente_endereco_copais,paciente_endereco_nmmunicipio,...,vacina_lote,vacina_fabricante_nome,vacina_fabricante_referencia,vacina_dataaplicacao,vacina_descricao_dose,vacina_codigo,vacina_nome,sistema_origem,data_importacao_rnds,id_sistema_origem
0,b19cd280-474c-4c22-a35d-8c06bc04a4e0-i0b0,2e091c9a37d3f50d1d705fc80c6448c6fc69b44da9e936...,69,1951-12-28,F,3,PARDA,120050.0,10.0,SENA MADUREIRA,...,210052A,FUNDACAO BUTANTAN,Organization/61189445000156,2021-03-23,1ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-03-25T03:27:19.000Z,NaN
1,a1acc0b6-1cf6-4c4b-adcb-06b473a0faaf-i0b0,f4e17a9e5354cb45e223d85eda02fb2f76048c801675f5...,81,1939-11-22,M,3,PARDA,120040.0,10.0,RIO BRANCO,...,210110,FUNDACAO BUTANTAN,Organization/61189445000156,2021-04-29,2ª Dose,86,Covid-19-Coronavac-Sinovac/Butantan,Novo PNI,2021-04-30T16:03:14.000Z,NaN

In [340]:
acre_vac.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [341]:
# 1) Sua solução aqui
acre_vac.shape[0]

169071

In [342]:
# 2) 
acre_vac['paciente_id'].nunique()

120517

In [343]:
primeira_dose = acre_vac['vacina_descricao_dose'].unique()[0]
acre_vac['paciente_id'].loc[acre_vac['vacina_descricao_dose'] == primeira_dose].nunique()

119713

In [344]:
# 4) 
acre_vac_menor = acre_vac[acre_vac["paciente_idade"] < 18]
acre_vac_menor['paciente_id'].nunique()

47

In [345]:
# 5)
acre_vac['estabelecimento_razaosocial'].nunique()

42

## 4) Vacinação II
Gere um *DataFrame* que contenha somente os estabelecimentos que aplicaram vcinas a menores de 18 anos. Nesse *DataFrame* devem conter somente os dados dos estabelecimentos, mais uma coluna sendo a quantidade de vacinas que o estabelecimento aplicou a menores de 18 anos.  
  
1. crie uma cópia do *DataFrame* original, contendo somente os registros de vacinas realizadas a menores de 18 anos.  
2. crie uma lista das colunas desse *DataFrame* com o atributo de *DataFrame* **.columns()**  
3. Nesse *DataFrame* faça uma contagem do campo ```vacina_categoria_nome```.
3. a partir da lista de colunas, escolha somente aquelas que são referentes ao estabelecimento, faça uma lista com esses valores.  
4. usando o método *.loc*, selecione somente essas variáveis  
5. Aplique o método **.drop_duplicates** e crie uma lista com uma linha para cada estabelecimento, com os dados do estabelecimento

In [346]:
# 1) 
acre_vac_menor = acre_vac[acre_vac["paciente_idade"] < 18].copy()

In [347]:
# 2) 
acre_vac_menor.columns

Index(['document_id', 'paciente_id', 'paciente_idade',
       'paciente_datanascimento', 'paciente_enumsexobiologico',
       'paciente_racacor_codigo', 'paciente_racacor_valor',
       'paciente_endereco_coibgemunicipio', 'paciente_endereco_copais',
       'paciente_endereco_nmmunicipio', 'paciente_endereco_nmpais',
       'paciente_endereco_uf', 'paciente_endereco_cep',
       'paciente_nacionalidade_enumnacionalidade', 'estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf', 'vacina_grupoatendimento_codigo',
       'vacina_grupoatendimento_nome', 'vacina_categoria_codigo',
       'vacina_categoria_nome', 'vacina_lote', 'vacina_fabricante_nome',
       'vacina_fabricante_referencia', 'vacina_dataaplicacao',
       'vacina_descricao_dose', 'vacina_codigo', 'vacina_nome',
       'sistema_origem', 'data_importacao_rnds', 'id_sistema_origem'],
      dtype='object')

In [348]:
# 3)
acre_vac_menor['vacina_categoria_nome'].value_counts()

vacina_categoria_nome
Povos Indígenas                     33
Trabalhadores de Saúde               9
Povos e Comunidades Tradicionais     9
Comorbidades                         2
Faixa Etária                         1
Name: count, dtype: int64

In [349]:
# 4)
lista_variaveis = ['estabelecimento_valor',
       'estabelecimento_razaosocial', 'estalecimento_nofantasia',
       'estabelecimento_municipio_codigo', 'estabelecimento_municipio_nome',
       'estabelecimento_uf']
acre_menor_lista = acre_vac_menor.loc[:,lista_variaveis]

In [350]:
# 5)
acre_menor_lista = acre_menor_lista.drop_duplicates()
acre_menor_lista.shape

(18, 6)

In [351]:
acre_menor_lista.values.tolist()

[[2001314,
  'PREFEITURA MUNICIPAL DE EPITACIOLANDIA',
  'ESF JOAO ALVES DA SILVA',
  120025,
  'EPITACIOLANDIA',
  'AC'],
 [6917291,
  'PREFEITURA MUNICIPAL DE RIO BRANCO',
  'DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AMBIENTAL',
  120040,
  'RIO BRANCO',
  'AC'],
 [6159087,
  'PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL',
  'SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL',
  120020,
  'CRUZEIRO DO SUL',
  'AC'],
 [2000040,
  'PREFEITURA MUNICIPAL DE FEIJO',
  'CENTRO DE SAUDE DIAMANTINO MACEDO',
  120030,
  'FEIJO',
  'AC'],
 [7625855,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA',
  'POLO BASE DE MARECHAL THAUMATURGO',
  120035,
  'MARECHAL THAUMATURGO',
  'AC'],
 [6748759,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA',
  'POLO BASE DE FEIJO',
  120030,
  'FEIJO',
  'AC'],
 [6308740,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA',
  'POLO BASE DE PORTO WALTER',
  120039,
  'PORTO WALTER',
  'AC'],
 [2001748,
  'PREFEITURA MUNICIPAL DE PORTO WALTER',
  'UBS VICENTE VARELA DE ALMEIDA',
  120039,
  'PORTO WALTER',
  'AC'],
 [6917682,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA',
  'POLO BASE DE CRUZEIRO DO SUL',
  120020,
  'CRUZEIRO DO SUL',
  'AC'],
 [6428940,
  'PREFEITURA MUNICIPAL DE ASSIS BRASIL',
  'POLO BASE DE ASSIS BRASIL',
  120005,
  'ASSIS BRASIL',
  'AC'],
 [6612385,
  'PREFEITURA MUNICIPAL DE TARAUACA',
  'UNIDADE ASSISTENCIAL A SAUDE INDIGENA DE TARAUACA POLO BASE',
  120060,
  'TARAUACA',
  'AC'],
 [9648968,
  'DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ALTO RIO PURUS',
  'POLO INDIGENA DE MANOEL URBANO',
  120034,
  'MANOEL URBANO',
  'AC'],
 [6430201,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA',
  'POLO BASE INDIGENA',
  120032,
  'JORDAO',
  'AC'],
 [6955525,
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO JURUA',
  'POLO BASE DE MANCIO LIMA',
  120033,
  'MANCIO LIMA',
  'AC'],
 [5336171,
  'SECRETARIA DE ESTADO DE SAUDE DO ACRE',
  'HOSPITAL REGIONAL DO JURUA',
  120020,
  'CRUZEIRO DO SUL',
  'AC'],
 [6697151,
  'MINISTERIO DA SAUDE',
  'DISTRITO SANITARIO ESPECIAL INDIGENA ALTO PURUS',
  120050,
  'SENA MADUREIRA',
  'AC'],
 [3323307,
  'PREFEITURA MUNICIPAL DE PORTO ACRE',
  'UNIDADE DE SAUDE DA FAMILIA ALVARO ARAUJO NOBRE',
  120080,
  'PORTO ACRE',
  'AC'],
 [7123043,
  'PREFEITURA MUNICIPAL DE JORDAO',
  'SAUDE DA FAMILIA RIBEIRINHA',
  120032,
  'JORDAO',
  'AC']]

In [352]:
acre_menor_lista.head(18)

,estabelecimento_valor,estabelecimento_razaosocial,estalecimento_nofantasia,estabelecimento_municipio_codigo,estabelecimento_municipio_nome,estabelecimento_uf
1567,2001314,PREFEITURA MUNICIPAL DE EPITACIOLANDIA,ESF JOAO ALVES DA SILVA,120025,EPITACIOLANDIA,AC
6250,6917291,PREFEITURA MUNICIPAL DE RIO BRANCO,DEPARTAMENTO DE VIGILANCIA EPIDEMIOLOGICA E AM...,120040,RIO BRANCO,AC
9569,6159087,PREFEITURA MUNICIPAL DE CRUZEIRO DO SUL,SECRETARIA MUNICIPAL DE SAUDE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
11338,2000040,PREFEITURA MUNICIPAL DE FEIJO,CENTRO DE SAUDE DIAMANTINO MACEDO,120030,FEIJO,AC
15144,7625855,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MARECHAL THAUMATURGO,120035,MARECHAL THAUMATURGO,AC
17153,6748759,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE FEIJO,120030,FEIJO,AC
18361,6308740,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE PORTO WALTER,120039,PORTO WALTER,AC
18608,2001748,PREFEITURA MUNICIPAL DE PORTO WALTER,UBS VICENTE VARELA DE ALMEIDA,120039,PORTO WALTER,AC
20204,6917682,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE CRUZEIRO DO SUL,120020,CRUZEIRO DO SUL,AC
21119,6428940,PREFEITURA MUNICIPAL DE ASSIS BRASIL,POLO BASE DE ASSIS BRASIL,120005,ASSIS BRASIL,AC
29127,6612385,PREFEITURA MUNICIPAL DE TARAUACA,UNIDADE ASSISTENCIAL A SAUDE INDIGENA DE TARAU...,120060,TARAUACA,AC
57405,9648968,DISTRITO SANITARIO ESPECIAL DE SAUDE INDIGENA ...,POLO INDIGENA DE MANOEL URBANO,120034,MANOEL URBANO,AC
61131,6430201,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO JURUA,POLO BASE INDIGENA,120032,JORDAO,AC
68290,6955525,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO RIO ...,POLO BASE DE MANCIO LIMA,120033,MANCIO LIMA,AC
69882,5336171,SECRETARIA DE ESTADO DE SAUDE DO ACRE,HOSPITAL REGIONAL DO JURUA,120020,CRUZEIRO DO SUL,AC
70881,6697151,MINISTERIO DA SAUDE,DISTRITO SANITARIO ESPECIAL INDIGENA ALTO PURUS,120050,SENA MADUREIRA,AC
101402,3323307,PREFEITURA MUNICIPAL DE PORTO ACRE,UNIDADE DE SAUDE DA FAMILIA ALVARO ARAUJO NOBRE,120080,PORTO ACRE,AC
140895,7123043,PREFEITURA MUNICIPAL DE JORDAO,SAUDE DA FAMILIA RIBEIRINHA,120032,JORDAO,AC